{
  "parser": "babel-eslint",
  "plugins": [
    "css-modules",
    "html"
  ],
  "extends": [
    "plugin:css-modules/recommended"
  ],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "@material-ui/*/*/*",
          "!@material-ui/core/test-utils/*"
        ]
      }
    ]
  }
}